<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-10">
      <div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
        <div class="flex space-x-6 sm:space-x-8">
          {
            [
              {
                href: "https://krissh.wtf",
                icon: `
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="size-8" viewBox="0 0 24 24">
                    <path d="M12 2c1.7 0 3.29.5 4.63 1.36L20.29 1 23 3.71l-2.36 3.66A9.94 9.94 0 0 1 22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 2C7.59 4 4 7.59 4 12s3.59 8 8 8 8-3.59 8-8c0-1.59-.47-3.06-1.27-4.3l-2.29 3.56-3.88-5.83c-.53-.79-1.69-.78-2.22 0L7.27 13.3A8.03 8.03 0 0 0 12 20c4.41 0 8-3.59 8-8s-3.59-8-8-8z"/>
                  </svg>`,
                label: "Sidekick Website",
                text: "Website of my friend",
              },
            ].map((link) => (
              <a
                href={link.href}
                target="_blank"
                class="flex items-center space-x-3 text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out group"
                aria-label={link.label}
              >
                <div class="text-[var(--white-icon)]">
                  <div set:html={link.icon} />
                </div>
                <span class="text-sm font-medium group-hover:translate-x-1 transition-transform">
                  {link.text}
                </span>
              </a>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col items-center space-y-6">
        <div class="grid grid-cols-1 gap-3 w-full max-w-xs py-6">
          {
            [
              {
                desc: "Built with",
                name: "Astro",
                icon: "/svg/astro.svg",
                alt: "Astro Logo",
              },
              {
                desc: "Styled with",
                name: "TailwindCSS",
                icon: "/svg/tailwindcss.svg",
                alt: "TailwindCSS Logo",
              },
            ].map((tech) => (
              <div class="flex items-center justify-center lg:justify-normal space-x-3">
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.desc}
                </span>
                <img
                  src={tech.icon}
                  alt={tech.alt}
                  class="h-5 w-5 object-contain filter brightness-0 invert opacity-50"
                  loading="lazy"
                />
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.name}
                </span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <iframe
            style="border-radius:12px; border:0;"
            src="https://open.spotify.com/embed/playlist/54mH1AWlEJBohJw6qR5loV?utm_source=generator&theme=0&locale=en_FR"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>

    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <span class="block sm:inline">
          Copyright © 2025 <a href="https://github.com/mnkxdlol">Andrew</a>. All rights reserved.
        </span>
      </p>
    </div>
  </div>
</footer>
